.taskList:hover{
    background-color: #fff !important;
    border: 1px solid rgba(5, 5, 5, 0.06);
    box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar {
    margin-inline-end: 0px;
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-list-split .ant-list-item {
    border-block-end: 1px solid rgba(5, 5, 5, 0.06) !important;
}
.CompletedTaskRate .ant-card-body{
    padding: 10px;
}
#taskliskContainer .ant-list{
    padding-top: 0px !important;
    padding-left: 0px !important;
}
.ant-tabs-ink-bar{
    height: 3px !important;
}
:where(.css-dev-only-do-not-override-1qhpsh8).ant-tabs-top >.ant-tabs-nav{
    margin: 0px;
}
/* taskliskContainer */
@media screen and (max-width: 530px){
    #taskliskContainer .tasklistDate{
        display: none;
    }
    #taskliskContainer .customDivider, .statusTab, .tasklistDate{
        display: none;
    }
    :where(.css-dev-only-do-not-override-p7e5j5).ant-list .ant-list-item {
        flex-wrap: no-wrap;
    }
    .ant-list-item-meta-avatar svg {
        margin-Right: 3px !important;
    }
    #taskliskContainer .tasklistTitle{
        font-size: 11px !important;
    }
    .ant-list-item.taskList{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    #taskliskContainer .expandBtn{
        font-size: 10px;
        margin-Right: 4px !important;
    }
    #taskliskContainer .inputNumber{
        display: none;
    }
    #taskliskContainer .checkCircleOutlined{
        font-size: 35px !important;
        margin-right: 10px;
    }
    #taskliskContainer .CloseSquareOutlined{
        font-size: 29px !important;
        margin-left: 5px;
    }
}