@media screen and (max-width: 800px){
    .defaultContainer{
      width: 100% !important;
    }
}

@media screen and (max-width: 530px){
  .ant-layout-content .css-dev-only-do-not-override-p7e5j5{
    padding: 5px !important;
  }
  main{
    padding: 5px !important;
    overflow-x: hidden;
  }
    .standupSimplified .standup-card{
      margin: auto !important;
    }
    .standupSimplified .ant-card{
      margin: auto !important;
      
    }
    .standup-card .ant-card-bordered.css-dev-only-do-not-override-p7e5j5{
      min-width: 80% !important;
      width: 80% !important;
      /* border: 1px solid red; */
      min-width: 380px !important;
      max-width: 410px !important;
    }
    .standupSimplified .ant-card label Button {
      top: 0 !important; 
      left: 0 !important;
      /* border: 1px solid red; */
  }
  .standupSimplified .ant-card-body{
    padding-left: 0px;
    padding-right: 0px;
  }
  .standupSimplified .standup-card{
    background: none !important;
  }
  .standupSimplified .ant-card-body input{
    font-size: 11px;
  }
  .front div {
    display: flex;
    /* border: 1px solid red; */
  }
  #taskliskContainer .ant-list-items ul{
    margin: auto !important;
  }
  #taskliskContainer .ant-list-items li{
    height: 50px !important;
    width: 100% !important;
  }
  .ant-tabs-mobile{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .ant-tabs-nav-list, .ant-tabs-ink-bar{
    padding-left: 10px !important;
  }
  :where(.css-dev-only-do-not-override-1qhpsh8).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-avatar{
    margin-right: 0px !important;
  }

}

