#mainNav {
    display: "flex";
    align-items: "center";
    justify-content: "center";
}

@media only screen and (max-width: 500px){
    #mainNav {
        padding: 0 10px !important;
        width: '100%';
        background-color: #333;
    }
}