#monthlyCard{
  color: #fff !important;
}
.ant-card .ant-card-head-title {
  color: #fff !important;
  font-weight: bold;
}
.ant-card button{
  border: none;
}
.ant-card .ant-card-head{
  border-bottom: none;
}
.ant-card .ant-card-body{
  padding-top: 0px;
}
.ant-progress.ant-progress-circle .ant-progress-text{
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 800px){
    .CompletedTaskRate{
      display: none !important;
    }
}

@media screen and (max-width: 450px){
  .standup-card .priorities-card {
    /* width: 110% !important; */
    min-width: 80%;
    width: 80% !important;
    display: none !important;
  }
  .standup-card .ant-card-body button{
    left: 71% !important;
    top: -90px !important;
  }
}

