@media screen and (max-width: 800px){
    .CompletedTaskRate{
      display: none !important;
    }
}

@media screen and (max-width: 450px){
  .standup-card .priorities-card {
    width: 100% !important;
    min-width: 80%;
  }
  .standup-card .ant-card-body button{
    left: 71% !important;
    top: -90px !important;
  }
}