#sideMenu li.ant-menu-item {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-top: 23px !important;
    padding-bottom: 23px !important;
}

#sideMenu li.ant-menu-item .ant-menu-item-selected{
    border: 1px solid lightgray;
    background: #e5e6e6;
    /* border: 1px solid red !important; */
}

aside .ant-menu-item-selected{
    border-left: 5px solid blue !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: 0px !important;
    background-color: rgba(229, 255, 253, 0.8)!important;
}

#sideMenu h4{
    font-size: 15px !important;
}