.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .Custom-App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);

    filter: invert(72%) sepia(51%) saturate(6847%) hue-rotate(321deg) brightness(100%) contrast(80%);
    filter: invert(44%) sepia(65%) saturate(360%) hue-rotate(153deg) brightness(95%) contrast(94%);
    filter: invert(62%) sepia(91%) saturate(754%) hue-rotate(196deg) brightness(93%) contrast(92%);
    filter: invert(100%) sepia(52%) saturate(313%) hue-rotate(33deg) brightness(100%) contrast(95%)
  }
  to {
    transform: rotate(360deg);

    filter: invert(100%) sepia(52%) saturate(313%) hue-rotate(33deg) brightness(100%) contrast(95%);
    filter: invert(62%) sepia(91%) saturate(754%) hue-rotate(196deg) brightness(93%) contrast(92%);
    filter: invert(44%) sepia(65%) saturate(360%) hue-rotate(153deg) brightness(95%) contrast(94%);
    filter: invert(72%) sepia(51%) saturate(6847%) hue-rotate(321deg) brightness(100%) contrast(80%);
  }
}


/* sidebar menu */
aside .ant-menu-root{
  padding-top: 85px;
}
aside .ant-menu-item{
  border: 1px solid #282c3415;
  margin-top: 10px !important;
  width: 85% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Landing page  */
#landingPage-still{
  background-color: #19191C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 85vh;
  max-height: 600px;
  overflow: hidden;
}

.logoContainer .logo{
  width: 150px !important;
}
.landing-grid-svg-image{
  width: 620px;
  height: 100%;
  background: url('/public/grid--dark.svg');
  background-position: center center;
  z-index: 0;
  /* border: 1px solid red; */
}
.landing-page-image{
  width: 650px;
  z-index: 9000;
  /* border: 1px solid red; */
}
#LandingPageTaskPageImage{
  background: url('/public/landing-logo-stack-2.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 650px;
  width: 80%;
  height: 400px;
  z-index: 9000;
}
.left{
  flex: 0.7;
  align-items: flex-start ;
  justify-content: flex-start;
  margin-bottom: 60px;
  /* border: 1px solid red; */
}
.right{
  flex: 0.2;
  /* border: 1px solid red; */
}
.right{
  display: flex;
  align-items: center;
}
.left h2{
  font-size: 65px;
  font-size: 3.2rem;
  margin-bottom: 1.8rem;
}
.left p{
    font-size: 1.2rem;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: var(--gray-200);
    margin: 0px;
    margin-top: 0rem;
    margin-bottom: 2rem;
    max-width: 38rem;
    /* font-size: 20px; */
    line-height: 1.6;
    color: darkgray;
    /* border: 1px solid red; */
}
.left Button{
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    color: rgb(255 255 255/var(--tw-text-opacity));
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem !important;
    background-image: linear-gradient(76.35deg, rgb(102, 10, 194) 15.89%, rgb(133, 10, 194) 89.75%);
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 50ms;
}

@media (prefers-reduced-motion: no-preference) {
  #landingPage {
    animation: landing-page-image infinite 15s linear;
  }
}

@keyframes landing-page-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logoContainer{
    box-sizing: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(97, 218, 251);
    width: 70%;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 50px;
    background-color: rgb(244, 244, 244);
    box-shadow: rgba(0, 0, 0, 0.08) -2px 6px 10px 0px;
    max-width: 1200px;

}

@media screen and (max-width: 800px){
  .sider{
    display: none;
  }
  .boilerplate-layout{
    padding: 0px !important;
  }
  .CompletedTaskRate{
    display: none !important;
  }
}